:root {
    --enews-border-radius: 30px;
}

#enewsletter-form-container {
    color: #fff;
}

#enewsletter-form.hidden {
    display: none !important;
}

.enewsletter-title {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

#enewsletter-form input[type="email"] {
    --padding: 25px;
    background-color: #171B45;
    border-color: #fff;
    border-width: 2px;
    border-radius: var(--enews-border-radius) 0 0 var(--enews-border-radius);
    color: #fff !important;
    padding-bottom: var(--padding);
    padding-top: var(--padding);
}

#enewsletter-form input[type="email"]:focus {
    background-color: #171B45;    
    outline: none !important;
    border-color: #fff;
    box-shadow: none;
}

#enewsletter-form  input[type="email"]:disabled {
    background-color: #171B45;    
    border-color: #fff;
    opacity: 0.6;
}

#enewsletter-form button[type="submit"] {
    --padding: 20px;
    background-color: #fff;
    border-color: #fff;
    border-width: 2px;
    line-height: 1;
    border-radius: 0 var(--enews-border-radius) var(--enews-border-radius) 0;
    color: #171B45;
    font-size: 2.0rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

#enewsletter-form input::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
    opacity: 1;
}

#enewsletter-form .form-group {
    justify-content: space-between;
}

.enewsletter-form-sm .form-group {
    max-height: 35px;
    padding: 0 0.25rem;
}

#enewsletter-form .checkbox {
    flex-shrink: 0;
    margin-right: 10px;
    margin-top: 5px;
    --checkbox-dim: 20px;
    background-color: #171B45;
    border: 2px solid #fff;
    border-radius: 4px; 
    color: #fff;
    height: var(--checkbox-dim);
    width: var(--checkbox-dim);
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enewsletter-form .checkbox i {
    display: none;
}

#enewsletter-form input[type="checkbox"] {
    transform: translateX(-5000px);
}

#enewsletter-form input[type="checkbox"]:checked + label .checkbox i {
    display: inherit;
}

#enewsletter-form .form-check-input:disabled + label .checkbox {
    opacity: 0.5 !important;
}

#enewsletter-form .form-check {
    display: flex;
    align-items: center;
    position: relative;
}

.enewsletter-form-sm .form-check {
    max-width: 288px;
}

.enewsletter-form-sm .spacer {
    border-right: 1px solid #fff;
    margin: 0 5px;
}

.enewsletter-form .spacer {
    border-right: 1px solid #fff;
    margin: 0 20px;
}

.enewsletter-form-sm .form-check {
    padding-left: 5px;
}

#enewsletter-form .form-check input {
    display: block;
}

#enewsletter-form .form-check-label {
    color: #fff;
    font-size: 0.75rem;
    display: flex;
}

.enewsletter-form .privacy-link {
    padding-left: 10px;
}

#enewsletter-form .privacy-link a {
    padding: 0;
    background-color: transparent;
    color: #fff;
    display: block;
    white-space: nowrap;
    font-size: 0.75rem;
}
