:root {
  --lt-border-radius: 10px;
  --lt-primary-color: #464c9c;
  --lt-hero-title-size: 3rem;
  --lt-section-title-size: 2.5rem;
  --lt-section-padding: 2.5rem;
  --lt-text-color: #000;
  --lt-text-size: 1.1rem;
  --lt-gutter: 1rem;
  --lt-box-shadow-color: rgba(0, 0, 0, 0.2);
  --font-family-bold: "Degular_Display-Bold", Verdana, Arial, sans-serif;
  --font-family-semibold: "Degular_Display-Semibold", Verdana, Arial, sans-serif;
  --font-family-regular: "Degular_Display-Regular", Verdana, Arial, sans-serif;
}

.light-theme {
  background-color: #fff;
}
.light-theme .section {
  margin-bottom: calc(var(--lt-gutter) * 2);
  margin-top: calc(var(--lt-gutter) * 2);
  padding-bottom: var(--lt-section-padding);
  padding-top: var(--lt-section-padding);
}
.light-theme b,
.light-theme strong,
.light-theme .strong {
  font-family: var(--font-family-semibold);
}
.light-theme h1,
.light-theme h2,
.light-theme h3,
.light-theme h4,
.light-theme h5,
.light-theme h6 {
  color: #000;
  font-family: var(--font-family-semibold);
}
.light-theme p {
  color: var(--lt-text-color);
  font-size: var(--lt-text-size);
}
.light-theme .text-primary {
  color: var(--lt-primary-color) !important;
}
.light-theme .section header.section-header {
  background-color: transparent;
  margin-bottom: calc(var(--lt-gutter) * 2);
  position: unset;
}
.light-theme .section-title {
  font-family: var(--font-family-semibold);
  font-size: var(--section-title-size);
  color: var(--lt-text-color);
}
.light-theme .section-dark {
  background: linear-gradient(to bottom, #464c9c 0%, #deb0c9 100%);
  border-radius: calc(var(--lt-border-radius) * 2);
  color: #fff !important;
  padding: calc(var(--lt-gutter) * 2);
}
.light-theme .section-dark .section-title,
.light-theme .section-dark p {
  color: #fff !important;
}
.light-theme .box {
  border-radius: var(--lt-border-radius);
  border: 1.5px solid #C2C6CE;
  padding: var(--lt-gutter);
}
.light-theme ol,
.light-theme ul {
  margin-bottom: 0;
  padding-bottom: 0;
}
.light-theme ol li,
.light-theme ul li {
  color: var(--lt-text-color);
  font-size: var(--lt-text-size);
}
.light-theme ol li + li,
.light-theme ul li + li {
  margin-top: var(--lt-gutter);
}
.light-theme ol li::marker,
.light-theme ul li::marker {
  font-family: var(--font-family-semibold);
}
.light-theme li a,
.light-theme li a:visited {
  color: var(--lt-primary-color);
}
.light-theme .cta-btn {
  background-color: var(--lt-primary-color);
  border-color: var(--lt-primary-color);
  border-radius: 30px;
  color: #fff;
  padding: calc(var(--lt-gutter) / 1.5) calc(var(--lt-gutter) * 2);
  transition: background-color 0.25s;
}
.light-theme .cta-btn:hover {
  background-color: #5e64b7;
}
.light-theme .img-featured {
  border-radius: var(--lt-border-radius);
  height: auto;
  width: 100%;
}
.light-theme .section-light {
  background-color: #f5f7f8;
  color: #000;
  border-radius: calc(var(--lt-border-radius) * 2);
  padding: calc(var(--lt-gutter) * 2);
}
.light-theme .outline-button {
  color: #464c9c;
}
.light-theme .outline-button:hover {
  background-color: #ebecf6;
}
.light-theme .hero-headline {
  color: #464c9c;
}
.light-theme a.post-link {
  color: #000;
}
.light-theme a,
.light-theme a:link,
.light-theme a:visited {
  color: var(--lt-primary-color);
}
.light-theme a:hover {
  text-decoration: underline;
}
.light-theme a.btn:hover {
  text-decoration: none;
}
.light-theme .bordered-box {
  border-radius: 4px;
  border: 1px solid var(--lt-primary-color);
}
.light-theme .bordered-box span {
  transition: all 0.25s;
}
.light-theme .bordered-box:hover {
  background-color: #ebecf6;
  border: 1px solid var(--lt-primary-color);
  top: 0;
  box-shadow: none;
  text-decoration: none;
}
.light-theme .bordered-box:hover span {
  transform: translateX(5px);
}

@media (min-width: 1400px) {
  .light-theme .section-hero {
    padding: var(--lt-gutter) calc(var(--lt-gutter) * 2);
  }
  .light-theme .section-hero h1 {
    font-size: var(--lt-hero-title-size);
    line-height: 1.15;
  }
  .light-theme .section-title {
    font-size: var(--lt-section-title-size);
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  :root {
    --lt-hero-title-size: 3rem;
    --lt-section-title-size: 2.5rem;
  }
  .light-theme .section-hero {
    padding: var(--lt-gutter) calc(var(--lt-gutter) * 2);
  }
  .light-theme .section-hero h1 {
    font-size: var(--lt-hero-title-size);
    line-height: 1.15;
  }
  .light-theme .section-hero .cta-btn,
  .light-theme .section-hero p {
    font-size: 1.2rem;
  }
  .light-theme .section-title {
    font-size: var(--lt-section-title-size);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  :root {
    --hero-title-size: 2.75rem;
    --section-title-size: 2.75rem;
    --lt-text-size: 1rem;
  }
  .light-theme .section-hero {
    padding: var(--lt-gutter);
  }
  .light-theme .section-hero h1 {
    font-size: 2.5rem;
  }
  .light-theme .section-hero .cta-btn,
  .light-theme .section-hero p {
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  :root {
    --hero-title-size: 2.75rem;
    --section-title-size: 2.25rem;
    --lt-text-size: 1rem;
  }
  .light-theme .section-hero {
    padding: var(--lt-gutter);
  }
}
@media (max-width: 767px) {
  :root {
    --section-title-size: 1.75rem;
    --lt-text-size: 1rem;
  }
  .light-theme .section-hero {
    padding: var(--lt-gutter);
  }
  .light-theme .section-hero .row .col-12:first-child {
    margin-bottom: var(--lt-gutter);
  }
  .light-theme .cta-btn {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .light-theme .section-hero {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
  }
  .light-theme .section-hero h1 {
    font-size: 2.5rem;
  }
  .light-theme ol {
    margin-left: 2px;
  }
}
@media (max-width: 991px) {
  .light-theme .section-hero {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media (min-width: 576px) {
  .light-theme .section-hero {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .light-theme .section-hero h1,
  .light-theme .section-hero p {
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=light-theme.css.map */
