{% extends "components/block-wrapper.twig" %}
{% block block_content %}
<div class="no-admin-clip overflow-clip relative">
      <div
            class="w-[280px] md:w-[380px] xl:w-[500px] rotate-[-135deg] absolute bottom-[-100px] xl:bottom-[-150px] left-[-25%] md:left-[-180px] fill-background-primary-shape-fill">
            {% include "resources/images/icons/blob-2.svg" %}
      </div>
      <div
            class="w-[280px] md:w-[380px] xl:w-[500px] rotate-[-120deg] absolute top-[-100px] xl:top-[-150px] right-[-25%] md:right-[-180px] fill-background-primary-shape-fill">
            {% include "resources/images/icons/blob-2.svg" %}
      </div>
      <div class="padding-top-regular padding-bottom-regular section-wrapper overflow-clip">
            {% if fields.image %}
            <div class="yp-container flex md:justify-between w-full flex-col md:flex-row gap-12 md:gap-16">
                  <div class="xl:w-[638px] shrnk-0 grow-0 flex flex-col gap-6">
                        {% if fields.secondary_heading %}
                        <h2 class="!m-0 text-text-heading-fill-highlight-2 title-small">
                              {{fields.secondary_heading}}
                        </h2>
                        {% endif %}
                        {% include 'components/heading.twig' with {tag: fields.tag, heading: fields.heading,
                        class:'headline-small'} %}
                        {% include 'components/content.twig' with {class: 'm-0 body-small'} %}
                  </div>
                  <div class="w-fit relative flex size-[180px] xl:size-[240px] shrink-0 grow-0">
                        {{ responsive_img(
                        fields.image, {
                        size: 'large',
                        class: 'object-contain h-full w-full',
                        })
                        }}
                  </div>
            </div>
            {% else %}
            <div class="yp-container max-w-[608px] xl:max-w-[736px] flex flex-col items-center gap-6">
                  {% if fields.secondary_heading %}
                  <h2 class="!m-0 text-text-heading-fill-highlight-2 title-small text-center">
                        {{fields.secondary_heading}}
                  </h2>
                  {% endif %}
                  {% include 'components/heading.twig' with {tag: fields.tag, heading: fields.heading,
                  class:'headline-small text-center'} %}
                  {% include 'components/content.twig' with {class: 'm-0 body-small text-center'} %}
            </div>
            {% endif %}
      </div>

</div>
{% endblock %}