DB_NAME='yp-client'
DB_USER='root'
DB_PASSWORD=''

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'
# Optional database variables
DB_HOST='localhost'
DB_PREFIX='yp_'

WP_ENV='development'
WP_HOME='http://yp-client.localhost'
WP_SITEURL="http://yp-client.localhost/wp"

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

ACF_PRO_KEY="b3JkZXJfaWQ9OTkwNzJ8dHlwZT1kZXZlbG9wZXJ8ZGF0ZT0yMDE3LTAyLTA3IDEyOjI4OjIz"
GRAVITY_FORMS_KEY="df15126324905d3184a09e508be140ff"