{% extends "components/block-wrapper.twig" %}
{% block block_content %}
<div class="yp-container flex flex-col gap-16 xl:gap-24 simple-data-filter">
      <div class="flex flex-col xl:flex-row gap-8 xl:gap-24">
            <div class="w-full xl:w-[640px] flex flex-col gap-8 shrink-0 !grow-0">
                  {% include 'components/heading.twig' with {tag: fields.tag, heading: fields.heading,
                  class:'headline-large'} %}
                  {# filter buttons #}
                  {% if fields.partnership_category %}
                  <div class="flex items-center w-full gap-3 text-button-primary-text-fill-default flex-wrap grow-0">
                        {% for item in fields.partnership_category %}
                        <button data-filter="{{item.label}}"
                              class="filter-button !py-[5px] !px-5 border-button-primary-bg-stroke-default text-button-secondary-text-fill-default active">
                              {{item.label}}
                        </button>
                        {% endfor %}
                  </div>
                  {% endif %}
            </div>
            {% include 'components/content.twig' with {class: 'm-0 body-small'} %}
      </div>
      {# logos view #}
      {% for item in fields.partnership_category %}
      {% if item.logos %}
      <div data-filter="{{item.label}}"
            class="flex flex-wrap gap-10 md:gap-14 xl:gap-x-24 gap-y-6 items-center simple-data-view">
            {% for logo in item.logos %}
            {% if logo %}
            <div class="w-fit max-h-10 md:max-h-12 max-w-32 md:max-w-36">
                  {{ responsive_img(
                  logo, {
                  size: 'large',
                  class: 'object-contain max-h-12',
                  })
                  }}
            </div>
            {% endif %}
            {% endfor %}
      </div>
      {% endif %}
      {% endfor %}

</div>
{% endblock %}