{% extends "components/block-wrapper.twig" %}
{% block block_content %}
<div class="yp-container">
      <div class="flex flex-col gap-md">
            {% include "components/title-content-with-button.twig" %}
            {% if faqs %}

            {# setting masonary cols for faqs #}
            {% set left_column = [] %}
            {% set right_column = [] %}

            {% for item in faqs %}
            {% if loop.index is odd %}
            {% set left_column = left_column|merge([item]) %}
            {% else %}
            {% set right_column = right_column|merge([item]) %}
            {% endif %}
            {% endfor %}

            <div class="grid gap-sm grid-cols-1 xl:grid-cols-2" itemscope itemtype="https://schema.org/FAQPage">
                  {% if left_column %}
                  <ul class="accordion-container pl-0 list-none hidden flex-col w-full gap-sm xl:flex">
                        {% for item in left_column %}
                        {% include "components/accordion-segment.twig" %}
                        {% endfor %}
                  </ul>
                  {% endif %}

                  {% if right_column %}
                  <ul class="accordion-container pl-0 list-none hidden flex-col w-full gap-sm xl:flex">
                        {% for item in right_column %}
                        {% include "components/accordion-segment.twig" %}
                        {% endfor %}
                  </ul>
                  {% endif %}

                  <ul class="accordion-container pl-0 list-none flex flex-col w-full gap-sm xl:hidden">
                        {% for item in faqs %}
                        {% include "components/accordion-segment.twig" %}
                        {% endfor %}
                  </ul>
            </div>


            {% endif %}
      </div>
</div>
{% endblock %}