/**
* typography.css
*/

*,
*::before,
*::after {
  @apply box-border;
}

* {
  @apply antialiased;
}

.wp-block {
  @apply m-0 leading-normal;
}

strong,
b {
  @apply font-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mt-0 mr-0 mb-5 ml-0 font-medium text-text-heading-fill-primary;
}

h1 {
  @apply text-4xl md:text-5xl xl:text-6xl;
}

h2 {
  @apply text-3xl md:text-4xl xl:text-5xl;
}

h3 {
  @apply text-2xl md:text-3xl xl:text-4xl;
}

h4 {
  @apply text-xl md:text-2xl xl:text-3xl;
}

h5 {
  @apply text-lg md:text-xl xl:text-2xl;
}

h6 {
  @apply text-lg md:text-lg xl:text-xl;
}

p {
  @apply font-medium text-base mb-5 text-text-body-fill-primary;
}

address {
  @apply not-italic;
}

ul,
ol,
dl {
  @apply mt-0 pl-7;

  li {
    @apply mb-0.5;
  }
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

a:not(.y-btn):not(.no-link-style) {
  @apply text-text-link-fill-default hover:text-text-link-fill-hover visited:text-text-link-fill-visited ease-in-out;
}

.reference-link {
  a {
    @apply m-0 text-sm md:text-base text-text-body-fill-primary no-underline font-medium !important;
  }
}

.content-wrapper {
  *:last-child {
    @apply mb-0 pb-0 !important;
  }

  a {
    @apply font-semibold underline hover:opacity-80 transition duration-200 ease-linear;
  }

  ul,
  ol {
    @apply py-5 pl-10;

    ul {
      @apply list-circle;
    }
  }
}

/*
** Custom typography classes
 */
.display-large {
  @apply uppercase font-light text-3xl md:text-6xl xl:text-8xl;
}

.display-small {
  @apply uppercase font-normal text-3xl md:text-5xl xl:text-6xl;
}

.headline-large {
  @apply font-medium text-3xl md:text-5xl xl:text-5xl;
}

.headline-small {
  @apply font-medium text-3xl md:text-4xl xl:text-4xl;
}

.title-large {
  @apply font-medium text-2xl md:text-2xl xl:text-3xl;
}

.title-small {
  @apply font-medium text-xl md:text-2xl xl:text-2xl;
}

.subtitle-large {
  @apply font-medium text-lg;
}

.subtitle-small {
  @apply font-medium text-base;
}

.overline-large {
  @apply font-semibold text-sm;
}

.overline-small {
  @apply font-semibold text-xs;
}

.body-large > p, /* WYSIWYG  */
.body-large {
  @apply font-medium text-lg;
}

.body-small > p, /* WYSIWYG  */
.body-small {
  @apply font-medium text-base;
}

.hyperlink-large {
  @apply font-medium text-lg;
}

.hyperlink-small {
  @apply font-medium text-base;
}

.text-base p,
.text-lg p {
  @apply mb-5;
}
