{% extends "components/block-wrapper.twig" %}
{% block block_content %}
<div class="yp-container flex-col xl:flex-row flex gap-12 md:gap-16 xl:gap-24 ">
      <div class="flex flex-col gap-16 w-full xl:w-[640px] grow-0 shrink-0">
            {% include 'components/heading.twig' with {tag: fields.tag, heading: fields.heading,
            class:'headline-large'} %}
            {% if fields.list %}
            <div class="flex flex-col gap-6">
                  {% for item in fields.list %}
                  <div class="flex gap-5 pb-6 border-b border-background-primary-bg-stroke">
                        {% include "components/icon.twig" %}
                        <div clas="flex flex-col gap-1">
                              {% include 'components/heading.twig' with {tag: fields.tag, heading: item.heading,
                              class:'m-0 title-small'} %}
                              {% if item.copy %}
                              <p class="!m-0">
                                    {{item.copy}}
                              </p>
                              {% endif %}
                        </div>
                  </div>
                  {% endfor %}
            </div>
            {% endif %}
      </div>
      <div class="xl:sticky xl:top-24 h-full order-first xl:order-none">
            {% if fields.image %}
            <div class="w-full h-auto">
                  {{ responsive_img(
                  fields.image, {
                  size: 'large',
                  class: 'object-contain w-full h-full',
                  })
                  }}
            </div>
            {% endif %}
      </div>
</div>
{% endblock %}