.hover-image {
  @apply opacity-0;
  transform: scale(0.5);
  transition: transform 1s ease;
}

.hover-image.active {
  transform: scale(1);
  @apply hidden sm:block sm:opacity-100;
}

.hover-image.active.plus {
  animation: floaty-plus 3s ease-in-out infinite;
}

.hover-image.active.minus {
  animation: floaty-minus 3s ease-in-out infinite;
}

@keyframes floaty-plus {
  0% {
    transform: rotate(12deg) scale(1);
  }
  50% {
    transform: rotate(8deg) scale(1.015);
  }
  100% {
    transform: rotate(12deg) scale(1);
  }
}

@keyframes floaty-minus {
  0% {
    transform: rotate(-12deg) scale(1);
  }
  50% {
    transform: rotate(-8deg) scale(1.015);
  }
  100% {
    transform: rotate(-12deg) scale(1);
  }
}
