/* Logo Marquee */
.marquee_logo {
  @apply flex w-fit select-none relative gap-0;
}

.marquee_content_logo {
  @apply flex w-fit will-change-transform shrink-0;
  animation: scroll_logo 16s linear infinite;
}

.marquee_item_logo {
  @apply w-36 h-16 mx-6 md:mx-10 flex items-center justify-center;
}

/* Animation */
@keyframes scroll_logo {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%));
  }
}
