<section id="{{block_anchor}}" class="{{color_profile}} overflow-clip">
      <div class="section-wrapper {{ background_color }} {{ block_spacing }} ">
            {% block block_content %}
            {# Block content goes here... #}
            {% endblock %}
      </div>
</section>