<button aria-label="Play video" type="button"
      class="general-transition video-play-button pointer-events-none flex play-button bg-ui-bg-fill-default border border-ui-bg-stroke-default rounded-full !size-20 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 items-center group-hover:bg-ui-bg-fill-hover group-hover:border-ui-bg-stroke-hover general-transition justify-center">
      <svg viewBox="0 0 24 24"
            class="w-[30px] h-[30px] fill-ui-icon-fill-primary-default group-hover:fill-text-heading-fill-primary general-transition"
            xmlns="http://www.w3.org/2000/svg">
            <polygon points="7,5 19,12 7,19" />
      </svg>
</button>