<div
      class="h-auto w-[303px] md:w-[395px] xl:w-full flex flex-col rounded-lg bg-surface-primary-bg-fill-default overflow-hidden">
      {% if item.image %}
      <div class="w-full h-[231px] overflow-hidden shrink-0">
            {% if item.image %}
            {{ responsive_img(
            item.image, {
            size: 'large',
            class: 'object-cover w-full h-full',
            })
            }}
            {% endif %}
      </div>
      <div class="flex flex-col gap-6 p-8 h-full justify-between">
            {% if item.heading %}
            <h3 class="!m-0 title-large">
                  {{item.heading}}
            </h3>
            {% endif %}
            {% include 'components/content.twig' with {content: item.content, class: 'm-0 body-large'}
            %}
            {% if item.button %}
            {% include "components/button.twig" with {button: item.button, class: 'secondary mt-auto'}
            %}
            {% endif %}
      </div>
      {% endif %}
</div>