{% extends "components/block-wrapper.twig" %}
{% block block_content %}
<div class="overflow-clip">

      <div class="yp-container flex flex-col gap-12 md:gap-24 xl:flex-row xl:justify-between xl:items-center xl:gap-0">

            {# content #}
            <div class="pt-12 md:pt-16 xl:pb-24 flex flex-col gap-10 w-full xl:w-[544px]">
                  <div class="flex flex-col gap-8">
                        {% include 'components/heading.twig' with {
                        tag: fields.tag,
                        heading: fields.heading,
                        class:'headline-large'
                        }
                        %}
                        {% include 'components/content.twig' with {class: 'm-0 body-large'} %}
                        {% include "components/buttons.twig" with {buttons: fields.buttons, button_class: 'primary'} %}
                  </div>
                  {% include "components/stats-unit.twig" %}
            </div>
            {# phone images #}
            <div
                  class="relative mx-auto xl:mx-0 w-full h-[410px] md:w-[400px] md:h-[490px] xl:w-[415px] xl:h-[525px] mb-12 md:mb-16 xl:mb-0">
                  <span
                        class="absolute top-1/2 left-1/2 w-[440px] md:w-[530px] xl:w-[550px] h-auto -translate-x-1/2 -translate-y-1/2  fill-background-primary-shape-fill">
                        {% include "resources/images/icons/blob-2.svg" %}
                  </span>

                  {% if fields.hero_image_secondary %}
                  <div class="absolute w-fit top-0 right-0 hero-phone-1">
                        {{ responsive_img(
                        fields.hero_image_secondary, {
                        size: 'large',
                        class: 'object-contain w-fit h-[360px] md:h-[420px] xl:h-[450px]',
                        })
                        }}
                  </div>
                  {% endif %}
                  {% if fields.hero_image_primary %}
                  <div class="absolute w-fit bottom-0 left-0 hero-phone-2">
                        {{ responsive_img(
                        fields.hero_image_primary, {
                        size: 'large',
                        class: 'object-contain w-fit h-[360px] md:h-[420px] xl:h-[450px]',
                        })
                        }}
                  </div>
                  {% endif %}
            </div>

      </div>
</div>
{% endblock %}