{% extends "components/block-wrapper.twig" %}
{% block block_content %}
<div class="yp-container">
      <div class="flex flex-col xl:flex-row gap-12 md:gap-16 xl:gap-24">
            <div class="flex flex-col gap-6 xl:w-[448px] grow-0 shrink-0">
                  {% include 'components/heading.twig' with {tag: fields.tag, heading: fields.heading,
                  class:'headline-small'} %}
                  {% include 'components/content.twig' with {class: 'm-0 body-large'} %}
            </div>
            {% if fields.stats %}
            <div class="grid grid-cols-2 gap-x-3 gap-y-6 md:gap-y-8 justify-between mt-auto w-full grow">
                  {% for item in fields.stats %}
                  {% include "components/stat.twig" %}
                  {% endfor %}
            </div>
            {% endif %}
      </div>
</div>
{% endblock %}