/******************** SleepScore Theme 2021 ********************/
// Custom Color Style Guide
$apricot: #e6996d;
$bunting: #171c45;
$victoria: #464c9c;
$oldlace: #fdf0e4;

// Basic Color Style Guide
$white: #fff;
$black: #000;

// Font Style Guide
$fontStackCustomBold: 'Degular_Display-Bold', 'Helvetica Neue', Helvetica, sans-serif;
$fontStackCustomRegular: 'Degular_Display-Regular', 'Helvetica Neue', Helvetica, sans-serif;
$fontStackCustomSemibold: 'Degular_Display-Semibold', 'Helvetica Neue', Helvetica, sans-serif;
$fontStackDefault: 'Helvetica', 'Helvetica Neue', Helvetica, sans-serif;

// BS4 Breakpoints, interpreted as less than or equal, ≤
$breakpointXLargeMax: 1200px;
$breakpointLargeMax: 992px;
$breakpointMediumMax: 768px;
$breakpointSmallMax: 576px;
$breakpointXSmallMax: 320px;
