{% extends "base/base.twig" %}
{% set home_url = fn('home_url') %}

{% block body %}

<div class="yp-container dark-theme pt-lg pb-lg">
	<div class="relativ bg-background-secondary-bg-fill px-8 py-10 md:p-10 xl:p-20 rounded-2xl overflow-hidden">

		<div class=" flex flex-col gap-8 md:gap-14">

			<div class=" flex flex-col gap-6">
				<div class="flex flex-col gap-4">
					<h3 class="heading-large text-text-heading-fill-highlight-2 m-0">
						404. Page not found
					</h3>
					<div class="h-px bg-background-primary-bg-stroke w-full"></div>
					<p class="m-0 body-large">
						Oops, nothing to see here...
					</p>
				</div>
				{% include 'components/button.twig' with {
				class: 'primary',
				button: {url: home_url, title: 'Take me home' },
				} %}
			</div>

		</div>
	</div>
</div>

{% endblock %}