@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components/components.css";
@import "features/features.css";
@import "gutenberg/gutenberg.css";
@import "layout/layout.css";
@import "utilities/utilities.css";

/**
* Defining color variables
*/

:root {
  --text-primary-heading-fill: #ffffff;
  --text-primary-body-fill: #e1e2f2;
  --text-primary-link-fill-default: #e8b6d1;
  --text-primary-link-fill-hover: #e8b6d1;
  --text-primary-link-fill-visited: #595ea6;
  --text-secondary-heading-fill: #ffffff;
  --text-secondary-body-fill: #e1e2f2;
  --text-secondary-link-fill-default: #e8b6d1;
  --text-secondary-link-fill-hover: #595ea6;
  --text-secondary-link-fill-visited: #595ea6;
  --text-highlight-heading-fill-1: #e7996e;
  --text-highlight-heading-fill-2: #e8b6d1;
  --text-highlight-heading-fill-3: #e1e2f2;

  /* --ui-text-fill-default: #000000;
  --ui-text-fill-hover: #e8b6d1;
  --ui-text-fill-active: #e8b6d1;
  --ui-bg-fill-default: #ffffff;
  --ui-bg-fill-hover: #f2f2f2;
  --ui-bg-fill-active: #ffffff;
  --ui-bg-stroke-default: #d9d9d9;
  --ui-bg-stroke-hover: #d9d9d9;
  --ui-bg-stroke-active: #d9d9d9;
  --ui-icon-fill-primary-default: #a3a6ce;
  --ui-icon-fill-hover: #e8b6d1;
  --ui-icon-fill-active: #e8b6d1;
  --ui-icon-fill-secondary-default: #e1e2f2;
  --ui-text-fill-inactive: #e1e2f2;
  --ui-icon-fill-inactive: #808080;
  --ui-bg-fill-inactive: #f2f2f2;
  --ui-bg-stroke-inactive: #595ea6; */

  --ui-text-fill-default: #ffffff;
  --ui-text-fill-hover: #ffffff;
  --ui-text-fill-active: #ffffff;
  --ui-bg-fill-default: #1f2453;
  --ui-bg-fill-hover: #1f2453;
  --ui-bg-fill-active: #1f2453;
  --ui-bg-stroke-default: #31356d;
  --ui-bg-stroke-hover: #e8b6d1;
  --ui-bg-stroke-active: #31356d;
  --ui-icon-fill-primary-default: #e1e2f2;
  --ui-icon-fill-hover: #ffffff;
  --ui-icon-fill-active: #ffffff;
  --ui-icon-fill-secondary-default: #e1e2f2;
  --ui-text-fill-inactive: #7e82ba;
  --ui-icon-fill-inactive: #7e82ba;
  --ui-bg-fill-inactive: #1f2453;
  --ui-bg-stroke-inactive: #31356d;

  --button-primary-text-fill-default: #171c45;
  --button-primary-text-fill-hover: #171c45;
  --button-primary-text-fill-focused: #171c45;
  --button-primary-text-fill-pressed: #171c45;
  --button-primary-text-fill-disabled: #7e82ba;
  --button-primary-icon-fill-default: #171c45;
  --button-primary-icon-fill-hover: #171c45;
  --button-primary-icon-fill-focused: #171c45;
  --button-primary-icon-fill-pressed: #171c45;
  --button-primary-icon-fill-disabled: #7e82ba;
  --button-primary-bg-fill-default: #e8b6d1;
  --button-primary-bg-fill-hover: #efccdf;
  --button-primary-bg-fill-focused: #efccdf;
  --button-primary-bg-fill-pressed: #f4dbe8;
  --button-primary-bg-fill-disabled: #31356d;
  --button-primary-bg-stroke-default: #e8b6d1;
  --button-primary-bg-stroke-hover: #efccdf;
  --button-primary-bg-stroke-focused: #efccdf;
  --button-primary-bg-stroke-pressed: #f4dbe8;
  --button-primary-bg-stroke-disabled: #31356d;

  --button-secondary-text-fill-default: #ffffff;
  --button-secondary-text-fill-hover: #ffffff;
  --button-secondary-text-fill-focused: #ffffff;
  --button-secondary-text-fill-pressed: #ffffff;
  --button-secondary-text-fill-disabled: #7e82ba;
  --button-secondary-icon-fill-default: #ffffff;
  --button-secondary-icon-fill-hover: #ffffff;
  --button-secondary-icon-fill-focused: #ffffff;
  --button-secondary-icon-fill-pressed: #ffffff;
  --button-secondary-icon-fill-disabled: #7e82ba;
  --button-secondary-bg-fill-default: #ffffff;
  --button-secondary-bg-fill-hover: #ffffff;
  --button-secondary-bg-fill-focused: #ffffff;
  --button-secondary-bg-fill-pressed: #ffffff;
  --button-secondary-bg-fill-disabled: #ffffff;
  --button-secondary-bg-stroke-default: #e8b6d1;
  --button-secondary-bg-stroke-hover: #efccdf;
  --button-secondary-bg-stroke-focused: #efccdf;
  --button-secondary-bg-stroke-pressed: #f4dbe8;
  --button-secondary-bg-stroke-disabled: #31356d;

  --button-tertiary-text-fill-default: #ffffff;
  --button-tertiary-text-fill-hover: #ffffff;
  --button-tertiary-text-fill-focused: #ffffff;
  --button-tertiary-text-fill-pressed: #ffffff;
  --button-tertiary-text-fill-disabled: #666666;
  --button-tertiary-icon-fill-default: #ffffff;
  --button-tertiary-icon-fill-hover: #ffffff;
  --button-tertiary-icon-fill-focused: #ffffff;
  --button-tertiary-icon-fill-pressed: #ffffff;
  --button-tertiary-icon-fill-disabled: #666666;
  --button-tertiary-bg-fill-default: #000000;
  --button-tertiary-bg-fill-hover: #4d4d4d;
  --button-tertiary-bg-fill-focused: #4d4d4d;
  --button-tertiary-bg-fill-pressed: #808080;
  --button-tertiary-bg-fill-disabled: #d9d9d9;
  --button-tertiary-bg-stroke-default: #000000;
  --button-tertiary-bg-stroke-hover: #4d4d4d;
  --button-tertiary-bg-stroke-focused: #e8b6d1;
  --button-tertiary-bg-stroke-pressed: #808080;
  --button-tertiary-bg-stroke-disabled: #d9d9d9;

  --state-highlight-default: #e8b6d1;
  --state-highlight-fade: #31356d;
  --state-success: #31c48d;
  --state-warning: #e8b6d1;
  --state-error: #ee4848;

  /* --input-label-fill-default: #808080;
  --input-label-fill-focused: #808080;
  --input-label-fill-success: #31c48d;
  --input-label-fill-error: #ee4848;
  --input-text-fill-default: #000000;
  --input-text-fill-focused: #000000;
  --input-icon-fill-default: #808080;
  --input-icon-fill-focused: #808080;
  --input-bg-fill-default: #ffffff;
  --input-bg-fill-focused: #ffffff;
  --input-bg-fill-disabled: #808080;
  --input-bg-stroke-default: #d9d9d9;
  --input-bg-stroke-focused: #e8b6d1;
  --input-bg-stroke-success: #31c48d;
  --input-bg-stroke-error: #ee4848;
  --input-text-fill-disabled: #000000;
  --input-label-fill-disabled: #808080;
  --input-icon-fill-disabled: #808080;
  --input-icon-fill-success: #31c48d;
  --input-icon-fill-error: #ee4848;
  --input-bg-fill-success: #ffffff;
  --input-bg-fill-error: #ffffff;
  --input-bg-stroke-disabled: #d9d9d9;
  --input-text-fill-success: #000000;
  --input-text-fill-error: #000000;
  --input-text-fill-placeholder: #808080;
  --input-icon-fill-placeholder: #808080; */

  --input-label-fill-default: #e1e2f2;
  --input-label-fill-focused: #e1e2f2;
  --input-label-fill-success: #31c48d;
  --input-label-fill-error: #ee4848;
  --input-text-fill-default: #ffffff;
  --input-text-fill-focused: #ffffff;
  --input-icon-fill-default: #ffffff;
  --input-icon-fill-focused: #a3a6ce;
  --input-bg-fill-default: #171c45;
  --input-bg-fill-focused: #171c45;
  --input-bg-fill-disabled: #171c45;
  --input-bg-stroke-default: #31356d;
  --input-bg-stroke-focused: #e8b6d1;
  --input-bg-stroke-success: #31c48d;
  --input-bg-stroke-error: #ee4848;
  --input-text-fill-disabled: #31356d;
  --input-label-fill-disabled: #e1e2f2;
  --input-icon-fill-disabled: #31356d;
  --input-icon-fill-success: #31c48d;
  --input-icon-fill-error: #ee4848;
  --input-bg-fill-success: #171c45;
  --input-bg-fill-error: #171c45;
  --input-bg-stroke-disabled: #31356d;
  --input-text-fill-success: #ffffff;
  --input-text-fill-error: #ffffff;
  --input-text-fill-placeholder: #a3a6ce;
  --input-icon-fill-placeholder: #a3a6ce;

  /* --surface-primary-bg-fill-default: #1f2453;
  --surface-primary-bg-fill-hover: #171c45;
  --surface-primary-bg-stroke-default: #1f2453;
  --surface-primary-bg-stroke-hover: #1f2453;
  --surface-secondary-bg-fill-default: #ffffff;
  --surface-secondary-bg-fill-hover: #ffffff;
  --surface-secondary-bg-stroke-default: #ffffff;
  --surface-secondary-bg-stroke-hover: #ffffff; */

  --surface-primary-bg-fill-default: #1f2453;
  --surface-primary-bg-fill-hover: #171c45;
  --surface-primary-bg-stroke-default: #1f2453;
  --surface-primary-bg-stroke-hover: #1f2453;
  --surface-secondary-bg-fill-default: #171c45;
  --surface-secondary-bg-fill-hover: #1f2453;
  --surface-secondary-bg-stroke-default: #31356d;
  --surface-secondary-bg-stroke-hover: #31356d;

  --background-outer-bg-fill: #080c33;
  --background-outer-bg-stroke: #171c45;
  --background-primary-bg-fill: #171c45;
  --background-primary-bg-stroke: #31356d;
  --background-primary-shape-fill: #464c9c;
  --background-secondary-bg-fill: #1f2453;
  --background-secondary-bg-stroke: #31356d;
  --background-secondary-shape-fill: #31356d;

  --shadow-default: #ffffff;
  --shadow-elevated: #ffffff;

  --logo-logo-fill: #e1e2f2;
}

.light-theme {
  --text-primary-heading-fill: #171c45;
  --text-primary-body-fill: #635d57;
  --text-primary-link-fill-default: #e8b6d1;
  --text-primary-link-fill-hover: #595ea6;
  --text-primary-link-fill-visited: #595ea6;
  --text-secondary-heading-fill: #171c45;
  --text-secondary-body-fill: #635d57;
  --text-secondary-link-fill-default: #e8b6d1;
  --text-secondary-link-fill-hover: #595ea6;
  --text-secondary-link-fill-visited: #595ea6;
  --text-highlight-heading-fill-1: #e7996e;
  --text-highlight-heading-fill-2: #d1a4bc;
  --text-highlight-heading-fill-3: #7e82ba;

  /* --ui-text-fill-default: #000000;
  --ui-text-fill-hover: #e8b6d1;
  --ui-text-fill-active: #e8b6d1;
  --ui-bg-fill-default: #ffffff;
  --ui-bg-fill-hover: #f2f2f2;
  --ui-bg-fill-active: #ffffff;
  --ui-bg-stroke-default: #d9d9d9;
  --ui-bg-stroke-hover: #d9d9d9;
  --ui-bg-stroke-active: #d9d9d9;
  --ui-icon-fill-primary-default: #b1a7a0;
  --ui-icon-fill-hover: #e8b6d1;
  --ui-icon-fill-active: #e8b6d1;
  --ui-icon-fill-secondary-default: #31356d;
  --ui-text-fill-inactive: #808080;
  --ui-icon-fill-inactive: #808080;
  --ui-bg-fill-inactive: #f2f2f2;
  --ui-bg-stroke-inactive: #595ea6; */

  --ui-text-fill-default: #635d57;
  --ui-text-fill-hover: #e8b6d1;
  --ui-text-fill-active: #e8b6d1;
  --ui-bg-fill-default: #fffdfc;
  --ui-bg-fill-hover: #fefaf7;
  --ui-bg-fill-active: #fefaf7;
  --ui-bg-stroke-default: #e4d7cd;
  --ui-bg-stroke-hover: #e8b6d1;
  --ui-bg-stroke-active: #e4d7cd;
  --ui-icon-fill-primary-default: #635d57;
  --ui-icon-fill-hover: #e8b6d1;
  --ui-icon-fill-active: #e7996e;
  --ui-icon-fill-secondary-default: #635d57;
  --ui-text-fill-inactive: #cabfb6;
  --ui-icon-fill-inactive: #cabfb6;
  --ui-bg-fill-inactive: #fffdfc;
  --ui-bg-stroke-inactive: #e4d7cd;

  --button-primary-text-fill-default: #171c45;
  --button-primary-text-fill-hover: #171c45;
  --button-primary-text-fill-focused: #171c45;
  --button-primary-text-fill-pressed: #171c45;
  --button-primary-text-fill-disabled: #171c45;
  --button-primary-icon-fill-default: #171c45;
  --button-primary-icon-fill-hover: #171c45;
  --button-primary-icon-fill-focused: #171c45;
  --button-primary-icon-fill-pressed: #171c45;
  --button-primary-icon-fill-disabled: #7e82ba;
  --button-primary-bg-fill-default: #e7996e;
  --button-primary-bg-fill-hover: #d08a63;
  --button-primary-bg-fill-focused: #d08a63;
  --button-primary-bg-fill-pressed: #a26b4d;
  --button-primary-bg-fill-disabled: #f3ccb7;
  --button-primary-bg-stroke-default: #e7996e;
  --button-primary-bg-stroke-hover: #e7996e;
  --button-primary-bg-stroke-focused: #e7996e;
  --button-primary-bg-stroke-pressed: #e7996e;
  --button-primary-bg-stroke-disabled: #31356d;
  --button-secondary-text-fill-default: #171c45;
  --button-secondary-text-fill-hover: #171c45;
  --button-secondary-text-fill-focused: #171c45;
  --button-secondary-text-fill-pressed: #171c45;
  --button-secondary-text-fill-disabled: #b1a7a0;
  --button-secondary-icon-fill-default: #ffffff;
  --button-secondary-icon-fill-hover: #ffffff;
  --button-secondary-icon-fill-focused: #ffffff;
  --button-secondary-icon-fill-pressed: #ffffff;
  --button-secondary-icon-fill-disabled: #7e82ba;
  --button-secondary-bg-fill-default: #ffffff;
  --button-secondary-bg-fill-hover: #ffffff;
  --button-secondary-bg-fill-focused: #ffffff;
  --button-secondary-bg-fill-pressed: #ffffff;
  --button-secondary-bg-fill-disabled: #ffffff;
  --button-secondary-bg-stroke-default: #e7996e;
  --button-secondary-bg-stroke-hover: #d08a63;
  --button-secondary-bg-stroke-focused: #d08a63;
  --button-secondary-bg-stroke-pressed: #a26b4d;
  --button-secondary-bg-stroke-disabled: #f3ccb7;
  --button-tertiary-text-fill-default: #ffffff;
  --button-tertiary-text-fill-hover: #ffffff;
  --button-tertiary-text-fill-focused: #ffffff;
  --button-tertiary-text-fill-pressed: #ffffff;
  --button-tertiary-text-fill-disabled: #666666;
  --button-tertiary-icon-fill-default: #ffffff;
  --button-tertiary-icon-fill-hover: #ffffff;
  --button-tertiary-icon-fill-focused: #ffffff;
  --button-tertiary-icon-fill-pressed: #ffffff;
  --button-tertiary-icon-fill-disabled: #666666;
  --button-tertiary-bg-fill-default: #000000;
  --button-tertiary-bg-fill-hover: #4d4d4d;
  --button-tertiary-bg-fill-focused: #4d4d4d;
  --button-tertiary-bg-fill-pressed: #808080;
  --button-tertiary-bg-fill-disabled: #d9d9d9;
  --button-tertiary-bg-stroke-default: #000000;
  --button-tertiary-bg-stroke-hover: #4d4d4d;
  --button-tertiary-bg-stroke-focused: #e8b6d1;
  --button-tertiary-bg-stroke-pressed: #808080;
  --button-tertiary-bg-stroke-disabled: #d9d9d9;

  --state-highlight-default: #e7996e;
  --state-highlight-fade: #f3ccb7;
  --state-success: #31c48d;
  --state-warning: #faca15;
  --state-error: #ee4848;

  /* --input-label-fill-default: #808080;
  --input-label-fill-focused: #808080;
  --input-label-fill-success: #31c48d;
  --input-label-fill-error: #ee4848;
  --input-text-fill-default: #000000;
  --input-text-fill-focused: #000000;
  --input-icon-fill-default: #808080;
  --input-icon-fill-focused: #808080;
  --input-bg-fill-default: #ffffff;
  --input-bg-fill-focused: #ffffff;
  --input-bg-fill-disabled: #808080;
  --input-bg-stroke-default: #d9d9d9;
  --input-bg-stroke-focused: #e8b6d1;
  --input-bg-stroke-success: #31c48d;
  --input-bg-stroke-error: #ee4848;
  --input-text-fill-disabled: #000000;
  --input-label-fill-disabled: #808080;
  --input-icon-fill-disabled: #808080;
  --input-icon-fill-success: #31c48d;
  --input-icon-fill-error: #ee4848;
  --input-bg-fill-success: #ffffff;
  --input-bg-fill-error: #ffffff;
  --input-bg-stroke-disabled: #d9d9d9;
  --input-text-fill-success: #000000;
  --input-text-fill-error: #000000;
  --input-text-fill-placeholder: #808080;
  --input-icon-fill-placeholder: #808080; */

  --input-label-fill-default: #635d57;
  --input-label-fill-focused: #635d57;
  --input-label-fill-success: #31c48d;
  --input-label-fill-error: #ee4848;
  --input-text-fill-default: #635d57;
  --input-text-fill-focused: #635d57;
  --input-icon-fill-default: #635d57;
  --input-icon-fill-focused: #635d57;
  --input-bg-fill-default: #fefaf7;
  --input-bg-fill-focused: #fefaf7;
  --input-bg-fill-disabled: #fefaf7;
  --input-bg-stroke-default: #e4d7cd;
  --input-bg-stroke-focused: #e8b6d1;
  --input-bg-stroke-success: #31c48d;
  --input-bg-stroke-error: #ee4848;
  --input-text-fill-disabled: #e4d7cd;
  --input-label-fill-disabled: #635d57;
  --input-icon-fill-disabled: #e4d7cd;
  --input-icon-fill-success: #31c48d;
  --input-icon-fill-error: #ee4848;
  --input-bg-fill-success: #fefaf7;
  --input-bg-fill-error: #fefaf7;
  --input-bg-stroke-disabled: #fdf2e9;
  --input-text-fill-success: #635d57;
  --input-text-fill-error: #635d57;
  --input-text-fill-placeholder: #b1a7a0;
  --input-icon-fill-placeholder: #b1a7a0;

  /* --surface-primary-bg-fill-default: #fdefe4;
  --surface-primary-bg-fill-hover: #fef7f2;
  --surface-primary-bg-stroke-default: #fdefe4;
  --surface-primary-bg-stroke-hover: #fdefe4;
  --surface-secondary-bg-fill-default: #ffffff;
  --surface-secondary-bg-fill-hover: #ffffff;
  --surface-secondary-bg-stroke-default: #ffffff;
  --surface-secondary-bg-stroke-hover: #ffffff; */

  --surface-primary-bg-fill-default: #fdefe4;
  --surface-primary-bg-fill-hover: #fef7f2;
  --surface-primary-bg-stroke-default: #fdefe4;
  --surface-primary-bg-stroke-hover: #fdefe4;
  --surface-secondary-bg-fill-default: #fef7f2;
  --surface-secondary-bg-fill-hover: #fdefe4;
  --surface-secondary-bg-stroke-default: #e4d7cd;
  --surface-secondary-bg-stroke-hover: #e4d7cd;

  --background-outer-bg-fill: #080c33;
  --background-outer-bg-stroke: #171c45;
  --background-primary-bg-fill: #fef7f2;
  --background-primary-bg-stroke: #e4d7cd;
  --background-primary-shape-fill: #e4d7cd;
  --background-secondary-bg-fill: #fdefe4;
  --background-secondary-bg-stroke: #e4d7cd;
  --background-secondary-shape-fill: #e4d7cd;

  --shadow-default: #ffffff;
  --shadow-elevated: #ffffff;

  --logo-logo-fill: #171c45;
}
