{% extends "components/block-wrapper.twig" %}
{% block block_content %}
<div class="yp-container hidden xl:block">
      <div class="relative">
            {% include "resources/images/map.svg" %}
            {% if fields.show_us %}
            <div
                  class="absolute bottom-[30%] left-0 md:top-[40%] xl:top-[30%] md:left-[8%] xl:left-[10%] bg-surface-primary-bg-fill-default px-4 py-2 rounded-lg w-fit h-fit">
                  <div class="flex items-center gap-3">
                        {% include "resources/images/icons/flag_us.svg" %}
                        <address class="flex flex-col gap-0">
                              <p class="!m-0 overline-large text-text-heading-fill-primary">
                                    North American Head Office
                              </p>
                              <p class="!m-0 overline-small">
                                    Carlsbad, California
                              </p>
                        </address>
                  </div>
            </div>
            {% endif %}
            {% if fields.show_dublin %}
            <div
                  class="absolute top-0 right-0  md:top-[20%]  xl:top-[22%] md:left-[40%] xl:left-[40%] bg-surface-primary-bg-fill-default px-4 py-2 rounded-lg w-fit">
                  <div class="flex items-center gap-3">
                        {% include "resources/images/icons/flag_ireland.svg" %}
                        <address class="flex flex-col gap-0">
                              <p class="!m-0 overline-large text-text-heading-fill-primary">
                                    European Head Office
                              </p>
                              <p class="!m-0 overline-small">
                                    Dublin, Ireland
                              </p>
                        </address>
                  </div>
            </div>
            {% endif %}
            {% if fields.show_berlin %}
            <div
                  class="absolute top-0 right-0  md:top-[20%]  xl:top-[32%] md:left-[40%] xl:left-[50%] bg-surface-primary-bg-fill-default px-4 py-2 rounded-lg w-fit">
                  <div class="flex items-center gap-3">
                        <div class="size-[24px] overflow-hidden rounded-full">
                              {% include "resources/images/icons/flag_german.svg" %}
                        </div>
                        <address class="flex flex-col gap-0">
                              <p class="!m-0 overline-large text-text-heading-fill-primary">
                                    European Office
                              </p>
                              <p class="!m-0 overline-small">
                                    Berlin, Germany
                              </p>
                        </address>
                  </div>
            </div>
            {% endif %}
      </div>
</div>
{% endblock %}